<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true,
                speed: 500,
                pause: 4000,
                mode:'fade',
                autoControls: true,
                pager:true,
                touchEnabled : false,
            });
        });
    </script>
</head>
<body>
    <h1>메인 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <div th:if="${totalCount == 0}">배너 없음</div>

        <div class="home__slider" th:if="${totalCount > 0}">
            <div class="bxslider">
                <div th:each="x : ${list}">
                    <a th:href="${x.url}" th:target="${x.target}">
                        <img th:src="${x.imgPath + x.imgSaveName}" th:alt="${x.altTitle}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
